<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/integrador</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">admin</property>
    <property name="query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <property name="show_sql">true </property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="Persist/Vehiculo.hbm.xml"/>
    <mapping resource="Persist/Agenda.hbm.xml"/>
    <mapping resource="Persist/Persona.hbm.xml"/>
    <mapping resource="Persist/Dia.hbm.xml"/>
    <mapping resource="Persist/Empresa.hbm.xml"/>
    <mapping resource="Persist/Horario.hbm.xml"/>
    <mapping resource="Persist/Marca.hbm.xml"/>
    <mapping resource="Persist/Modelo.hbm.xml"/>
    <mapping resource="Persist/Problema.hbm.xml"/>
    <mapping resource="Persist/Reserva.hbm.xml"/>
    <mapping resource="Persist/Servicio.hbm.xml"/>
    <mapping resource="Persist/Repuesto.hbm.xml"/>
    <mapping resource="Persist/RepuestoLinea.hbm.xml"/>
    <mapping resource="Persist/Usuario.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
